.main-nav{
    display: inline-flex;
    align-items:center;
        @media screen and (max-width: 767px){
        margin-bottom: 16px;
        margin-top: 16px;
        justify-content: space-between;
        flex-grow: 1;
        width: 100%;
      }
      @media screen and (max-width: 1199px){
margin-bottom: 26px;
margin-top: 26px;

      }
 }

