.hero {
    background-color: #2F303A;
    background-image: url(../images/images-hm4/Img2optim.jpg);
    }
    
    .hero-name{
      color: #FFFFFF;
    }
    
    .hero-title{
      color:$title-text-color;
      font-style: 400;
      font-weight: 900;
      font-size: 44px;
      line-height: 1,36px;
      text-align: center;
      padding-bottom: 30px;
    }

.center { 
    text-align: center;
    border: 1px solid #0000;
  }
  
  .main-container{
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top:200px;
    padding-bottom:280px;
    background-color: #2f303a;
   text-align: center;
   background-image: -webkit-gradient(linear,left top, right top, from(rgba(47,48,58,0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/images-hm4/Img2optim.jpg");
   background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47, 48, 58, 0.4)), url("../images/images-hm4/Img2optim.jpg");
   /*background-image: url(../../../../GitHub/goit-markup-hw-07/images/images-hm4/Img2optim.jpg), linear-gradient( rgba(47, 48, 58, 0.4)), rgba(47, 48, 58, 0.4);
   background-repeat: no-repeat;
   background-size: cover;
  /*background-attachment: fixed;
  background-position: top 100px center;*/
  }