.portfolio .filter {
    /*display: flex;*/
    justify-content: center;
@media screen and (min-width: 768px){
    display: flex;
}
}
  .portfolio .filter-items:not(:last-child) {
  @media screen and (min-width: 768px){
      margin-right: 8px;
  }
  }
  
  .portfolio .filter-items{
      display: inline;
  }
  .container.portfolio-padding {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
  }