.portfolio .filter {
    /*display: flex;*/
    justify-content: center;
  }

@media screen and (min-width: 768px){
  .portfolio .filter {
    display: flex;
}
}
  /*.portfolio .filter-items:not(:last-child) {
    margin-right: 8px;*/
  }

  @media screen and (min-width: 768px){
    .portfolio .filter-items:not(:last-child) {
      margin-right: 8px;
  }
  }
  
  .portfolio .filter-items{
      display: inline;
  }
  .container.portfolio-padding {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
  }