.section-team{
    background-color: #F5F4FA;
  }
  .images-team {
    display: block;
  }
  
  .list-section-team .item-img:not(:last-child) {
    margin-right: 30px;
  }
  
  .section-list > .list-description {
    padding-bottom: 30px;}
  
  .wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
   padding-top: 94px;
  }
  
  .section-title{
    color:$title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1,7px;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    text-align: center;
  
  }
  
  .section{
    display: flex;
    width: calc(100%-90px)/4;
    justify-content: space-between;
   padding-bottom: 94px;
  }
  
  .comand{
    width: 271px;
    /*height: 368px;*/
    border: 1px solid #ECECEC;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  }
  
  .text-clas {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .paragraph{
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7px;
    margin-top: 10px;
    margin-bottom: 0px;
    flex-wrap: wrap;
    text-align: center;
    }
    .wrapper {
        padding-top: 94px;
        padding-bottom: 94px;
      }
      .section-team {
        margin-top: 94px;
      }
      .wrapper {
        background: #f5f4fa;
      }
  
   .section .section{
        margin-top: 50px;
        display: flex;
        justify-content: center;
      }  
  
   .section > .comand {
       /* padding-bottom: 30px;*/
        background: var(--primary-bg);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
          0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
      }
  
   .section .comand:not(:last-child) {
        margin-right: 30px;
      }
      
  
    .team-networks {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    }  