.header__mobile-menu{
    z-index:1;
    position:absolute;
    top:100%;
    left:0; 
    width:100%;
    opacity:0;
    -webkit-transform:translateY(-200%);
    transform:translateY(-200%);
    -webkit-transition-property:opacity,-webkit-transform;
     transition-property:opacity,-webkit-transform;
    transition-property:transform, opacity;
    transition-property:transform, opacity, -webkit-transform;
    -webkit-transition-duration:600ms;
    transition-duration:600ms;
    -webkit-transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    padding-top:60px;
    padding-bottom:60px;
    background-color:#fff;
    -webkit-box-shadow:0px 4px 8px rgba(0,0,0,0.04),0px 2px 4px rgba(0,0,0,0.08),0px 1px 3px rgba(0,0,0,0.16);
    box-shadow:0px 4px 8px rgba(0,0,0,0.04),0px 2px 4px rgba(0,0,0,0.08),0px 1px 3px rgba(0,0,0,0.16);
}
    
    .header__mobile-menu.is-open{
    -webkit-transform:translateY(0);
    transform:translateY(0);
    opacity:1;
}

    .header__mobile-menu{
    @media screen and (min-width: 768px){
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    margin-left:88px;
    width:100%;
}
}
.header__mobile-menu{
    @media screen and (min-width: 1200px){
margin-left:93px;
}
}
    .header__mobile-menu-button{
    width:40px;
    height:40px;
    padding:0;
    border:0;
    background-color:transparent;
    -webkit-transition-property:fill;
    transition-property:fill;
    -webkit-transition-duration:250ms;
    transition-duration:250ms;
    -webkit-transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

    .header__mobile-menu-button{
        @media screen and (min-width: 767px){
            display:none;
        }
    }
    .header__mobile-menu-icon{
        display:block;
    margin-right:auto;
    margin-left:auto;
    fill:#212121;
}
    .header__mobile-menu-button:hover 
    .header__mobile-menu-icon,.header__mobile-menu-button:focus
     .header__mobile-menu-icon{
         fill:#2196f3;
        }
    .header__mobile-menu-icon .header__mobile-menu-close{
        display:none;
    }
    .header__mobile-menu-button.is-open 
    .header__mobile-menu-close{
        display:block;
    }
    .header__mobile-menu-button.is-open .header__mobile-menu-open{
        display:none;
    }
    .header__menu{
    @media screen and (min-width: 768px){
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}
}
.header__item{
    @media screen and (max-width: 767px){
        display:block;
        text-align:center;
    }
}
  
    