.menu-link::after {
    content: "";
    display: block;
   width: 50%;
   height: 4px;
   background-color: $accent-color;
   border-radius: 2px;
   
   }

   .mobile-link::after {
        content: "";
        display: block;
       width: 10%;
       height: 4px;
       background-color: $accent-color;
       border-radius: 2px;
       margin-top: 8px;
       text-align: center;
   }

   .line-container{
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid #ECECEC ;}

    .line-container{
        margin-left: auto;
        margin-right: auto;
        width: 1600px;
        outline: 1px solid #ECECEC ;}