.menu-link::after {
    content: "";
    display: block;
   width: 50%;
   height: 4px;
   background-color: $accent-color;
   border-radius: 2px;
   
   }

   .line-container{
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid #ECECEC ;}

    .line-container{
        margin-left: auto;
        margin-right: auto;
        width: 1600px;
        outline: 1px solid #ECECEC ;}